<!DOCTYPE HTML>
<html lang="{{ config_get('app.locale') }}">
<head>
  <title>Triga</title>
</head>
<body class="lang-{{ config_get('app.locale') }}">

{{ head }}

<div>
  <div>
    <div>
      {{ middle }}
    </div>
  </div>

</div>

{{ footer }}

</body>
</html>